[package]
name = "chomp"
version = "0.1.0"
edition = "2021"
license = "MIT"
repository = "https://github.com/guybedford/chomp/"
readme = "README.md"
description = "Make-like task runner with templates for frontend workflows"

[[bin]]
name = "chomp"
path = "src/main.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.52"
async-recursion = "0.3.2"
async-std = { version = "1.10.0", features = ["unstable"] }
capturing-glob = "0.1.1"
clap = "2.33.3"
crossterm = "0.22.1"
derivative = "2.2.0"
futures = "0.3.18"
hyper = { version = "0.14.16", features = ["full"] }
lazy_static = "1.4.0"
mime_guess = "2.0.3"
notify = "4.0.17"
num_cpus = "1.13.0"
regex = "1.5"
serde = { version = "1.0", features = ["derive"] }
serde_v8 = "0.22.0"
tokio = { version = "1", features = ["full"] }
tokio-util = "0.6.9"
toml = "0.5"
uuid = { version = "0.8", features = ["v4"] }
v8 = "0.36.0"
