[[template]]
  name = "chomp:svelte"
  definition = """() => [{
    deps: ['node_modules/svelte', 'node_modules/mkdirp'],
    engine: 'node',
    run: `
      import { readFile, writeFile } from 'fs/promises';
      import { compile } from 'svelte/compiler';
      import mkdirp from 'mkdirp';
      import { dirname } from 'path';

      const source = await readFile(process.env.DEP, 'utf-8');
      const result = compile(source, {
        // TODO:
        // - preprocessor support for eg TypeScript
        filename: process.env.DEP,
        css: false,
      });

      mkdirp.sync(dirname(process.env.TARGET));
      const cssFile = process.env.TARGET.replace(/\\.js$/, ".css");
      await Promise.all[
        writeFile(process.env.TARGET, result.js.code),
        writeFile(process.env.TARGET + ".map", JSON.stringify(result.js.map)),
        writeFile(cssFile, result.css.code),
        writeFile(cssFile + ".map", JSON.stringify(result.css.map))
      ];
    `
  }, {
    template: 'chomp:npm:install',
    args: {
      packages: ['svelte', 'mkdirp'],
      dev: true
    }
  }]
  """
