name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-ubuntu:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: cargo build --verbose
    - name: Set PATH
      run: echo "$(pwd)/target/debug:$PATH" >> $GITHUB_PATH
    - run: git clone git@github.com:chomp/chomp-extensions
    - name: Run Core Tests
      run: chomp -c test/chompfile.toml test
      env:
        CHOMP_CORE: ../chomp-extensions
    - name: Run Template Tests
      run: chomp -c chomp-extensions/chompfile.toml test

  build-windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install latest nightly
      uses: actions-rs/toolchain@v1
      with:
          toolchain: nightly
          override: true
          components: cargo
    - name: Build
      run: cargo build --verbose
    - name: Set PATH
      run: echo echo "$(pwd)/target/debug" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
    - run: git clone git@github.com:chomp/chomp-extensions
    - name: Run Core Tests
      run: chomp -c test/chompfile.toml test
      env:
        CHOMP_CORE: ../chomp-extensions
    - name: Run Template Tests
      run: chomp -c chomp-extensions/chompfile.toml test
